.delete-modal-box {
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 150px rgba(0, 0, 0, 0.338);
  width: 380px;
  max-width: 96vw;
}


.delete-bio{
    margin: 0.8rem 0;
    /* font-size: 1rem; */
}


.delete-button{
    
    cursor: pointer;
    color: rgba(255, 255, 255, 0.911);
    background-color: #7240ff;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 14px;
}

.delete-button-red{
    background-color: #df3a3a;
}

.cancel-button{
    background-color: #87888a;
}

.edit-task-buttons{
    margin-top: 15px;
    display: flex;
    
    /* border: 1px solid black; */
    justify-content: end;
    gap: 10px;
}

.delete-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}