.edit-student {
  background-color: #ffffff;
  border: 1px solid rgb(217, 216, 216);
  width: 20rem;
  padding: 20px;
  border-radius: 12px;
   max-height: max-content;
   margin: 0px 10px;
}

.edit-heading {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 18px;
}

.edit-heading h2 {
  font-family: "Karla", sans-serif;
}


label {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}


.student-input {
  display: flex;
  flex-direction: column;
}


.input-student {
  margin-top: 8px;
  margin-bottom: 16px;
  height: 2.5rem;
  padding-left: 10px;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  border-radius: 10px;
  border: 1px solid rgba(160, 155, 155, 0.386);
}

.input-student:focus {
  outline: none;
  border: 2px solid #3c83f6;
}


.edit-button {
  cursor: pointer;
  width: 100%;
  padding: 12px 0;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  background-color: #3c83f6;
  color: white;
}

.edit-overlay{
    position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}


@media (max-width: 950px) {
  .edit-student {
    width: 50vw;
  }
}


@media (max-width: 620px) {
  .edit-student {
    width: 100%;
  }

  .edit-heading h2 {
    font-size: 1.2rem;
  }
}
