.header {
  background-color: white;
  font-family: "Karla", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cap-icon{
 font-size: 25px;
}


@media(max-width:620px){

  .cap-icon{
    font-size: 18px;
  }

  .header h1{
    font-size: 22px;
  }
  
  .header p{
    font-size: 14px;
    padding: 2px;
    text-align: center;
    
  }
}