

.student-card{

    font-family: "Karla", sans-serif;
    padding:12px 15px ;
    border: 1px solid rgba(0, 0, 0, 0.144);
    width: 35rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
   
    border-radius: 10px;
    

}

.pass-main-box{
     border-top: 5px solid green;
     background-color: #edf5f2;
}

.fail-main-box{
     border-top: 5px solid red;
     background-color: #f8f0f1;
}

.student-info-heading h2{
    letter-spacing: -0.4px;
}

.student-info-heading p{
    font-size: 16px;
}

.student-info-grade{

    /* border: 1px solid black; */
}

.student-info-grade span{
    margin-right: 10px;
}

.percentage-fail{
    /* border: 1px solid black; */
    padding: 6px 12px;
    font-size: 1.1rem;
    border-radius: 15px;
    background-color: #fcdcdc;
}

.percentage-pass{
    padding: 6px 12px;
    font-size: 1.1rem;
    border-radius: 15px;
    background-color: #d7ece0;

}



.fail{
    font-size: 1.1rem;
    font-weight: 700;
    color: red;
}


.pass{
    font-size: 1.1rem;
    font-weight: 700;
    color: green;

}
.trash-icon{
    margin-left: 12px;
    cursor: pointer;
    color: #242222b2;
    font-size: 15px;
}


.trash-icon:hover{
    color: red;
}


.edit-btn{
    color: #242222b2;
    cursor: pointer;
}

@media(max-width:950px){
    .student-card{
        width: auto;
    }

}

@media(max-width:520px){

    .student-card{
        gap: 15px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        height: max-content;
    }

    .student-info-grade{
        align-self: flex-end;
    }

    .student-info-heading h2{
        font-size: 20px;
    }

    .student-info-heading p{
        font-size: 15px;
    }

    .percentage{
        font-size: 14px;
        font-weight: 500;
    }
    
    .student-info-grade span{
        font-size: 15px;
    }
}